<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tornado Starter</title>
    <link rel="apple-touch-icon" href="{{ static_url }}/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Le styles -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_url }}css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Person</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>

            <div class="nav-collapse">
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>

        </div>

    </div>
</div>

<div id="app" class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->
<script src="{{ static_url }}js/dist/main.js"></script>
</body>
</html>
